<%- include('header') -%>

<div class="page-content">
    <div class="basket">
        <h4>Your Basket</h4>
        <div class="basket-items">
            <%  if(data.length > 0) { %>
            <% for (let i = 0; i < data.length; i++) { %>
            <div id="<%= data[i]['id'] %>" class="basket-item">
                <div class="image-holder">
                    <img src="images/<%= data[i]['imageSrc'] %>" alt="">
                </div>
                <div class="basket-item-details">
                    <a href="<%= data[i]['url'] %>">
                        <div class="basket-item-name"><%= data[i]['name'] %></div>
                    </a>
                    <div class="basket-item-price">£<span><%= data[i]['price'] %></span></div>
                    <div class="quantity"><%= data[i]['quantity'] %></div>
                    <div class="basket-item-delete">
                        <button>Delete</button>
                    </div>
                </div>
            </div>
            <%   } %>
            <% } %>
        </div>
    </div>
    <div class="basket-total">

    </div>
</div>

<%- include('footer') -%>