<%- include('header') -%>

<div class="page-content">
    <div class="basket">
        <h4>Your Basket</h4>
        <div class="basket-items">
            <%  if(data.length > 0) { %>
            <% for (let i = 0; i < data.length; i++) { %>
            <form action="/basket" method="post">
                <input type="hidden" name='id' value='<%= data[i]["id"] %>'>
                <div id="<%= data[i]['id'] %>" class="basket-item">
                    <div class="image-holder">
                        <img src="images/<%= data[i]['imageSrc'] %>" alt="">
                    </div>
                    <div class="basket-item-details">
                        <div class="basket-item-name">Item Name:
                            <a class="basket-item-name" href="<%= data[i]['id'] %>"><%= data[i]['name'] %></a>
                        </div>
                        <div class="basket-item-price">Item Price: £<span><%= data[i]['price'] %></span></div>
                        <div class="quantity">Quantity of Item: <%= data[i]['quantity'] %></div>
                        <div class="basket-item-delete">
                            <button type="submit">Delete</button>
                        </div>
                    </div>
                </div>
            </form>
            <%   } %>
            <% } %>
        </div>
    </div>
    <div class="basket-total">

    </div>
</div>

<%- include('footer') -%>