<%- include('header') -%>

<div class="page-content">
    <div class="basket">
        <h4>Your Basket</h4>
        <% if(message) { %>
        <span class="error"><%= message %></span>
        <% } %>
        <%  if(data.length > 0) { %>
        <div class="basket-items">
            <% for (let i = 0; i < data.length; i++) { %>
            <form action="/actions" method="post">
                <input type="hidden" name='id' value='<%= data[i]["id"] %>'>
                <div id="<%= data[i]['id'] %>" class="basket-item">
                    <div class="image-holder">
                        <a href="<%= data[i]['url'] %>"><img src="images/<%= data[i]['imageSrc'] %>" alt=""></a>
                    </div>
                    <div class="basket-item-details">
                        <a class="basket-item-name" href="<%= data[i]['url'] %>"><%= data[i]['name'] %></a>
                        <div class="basket-item-price">Unit Price: £<%= data[i]['price'] %></div>
                        <div class="basket-item-actions">
                            <button type="submit" name="type" value="delete_from_basket">-</button>
                            <div class="quantity"><%= data[i]['quantity'] %></div>
                            <button type="submit" name="type" value="add_to_basket">+</button>
                            <div class="total">£<%= (data[i]['quantity'] * data[i]['price']).toFixed(2)%></div>
                        </div>
                    </div>
                </div>
            </form>
            <%   } %>
            <div class="review-sec">
                <div class="basket-total">Your Basket Total is <span>£<%= total %></span></div>
                <a href="/checkout" class="checkout-link">Checkout Here</a>
            </div>
            <% } %>
        </div>
    </div>
</div>

<%- include('footer') -%>