<%- include('header') -%>

<div class="page-content">
    <div class="basket">
        <h4>Your Order</h4>
        <div class="basket-items">
            <%    for(let i = 0; i < data.length; i++) { %>
            <div class="basket-item">
                <div class="image-holder">
                    <a href="<%= data[i]['url'] %>"><img src="images/<%= data[i]['imageSrc'] %>" alt=""></a>
                </div>
                <div class="basket-item-details">
                    <a class="basket-item-name" href="<%= data[i]['url'] %>"><%= data[i]['name'] %></a>
                    <div class="basket-item-actions">
                        <div class="cko-quantity">Quantity<span> <%= data[i]['quantity'] %></span></div>
                        <div class="total">£<%= (data[i]['quantity'] * data[i]['price']).toFixed(2)%></div>
                    </div>
                </div>
            </div>
            <%    } %>

        </div>
    </div>
    <div class="delivery-address">
        <h4>Your Delivery Address</h4>
        <div class="cko-details">
            <div class="delivery-address-detail">
                <label for="">Country</label>
                <select name="" id="">
                    <option value="">United Kingdom</option>
                    <option value="">United States</option>
                </select>
            </div>
            <div class="delivery-address-detail">
                <label for="">Full Name</label>
                <input type="text">
            </div>
            <div class="delivery-address-detail">
                <label for="">Phone Number</label>
                <input type="tel" name="" id="">
            </div>
            <div class="delivery-address-detail">
                <label for="">Postcode</label>
                <input type="text">
            </div>
            <div class="delivery-address-detail">
                <label for="">Address Line 1</label>
                <input type="text">
            </div>
            <div class="delivery-address-detail">
                <label for="">Address Line 2 (optional)</label>
                <input type="text">
            </div>
            <div class="delivery-address-detail">
                <label for="">Town/City</label>
                <input type="text">
            </div>
            <div class="delivery-address-detail">
                <label for="">County</label>
                <input type="text">
            </div>
            <div class="delivery-address-detail">
                <label for="">Any Delivery Instructions?</label>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
        </div>
    </div>
    <form action="/checkout" method="post">
        <div class="payment-method">
            <h4>Payment Method</h4>
            <div class="cko-details">
                <div class="payment-method">
                    <label for="payment-method">Please Select a Payment Method</label>
                    <select name="payment-method" id="payment-method">
                        <option>Paypal</option>
                        <option>Debit Card</option>
                        <option>Crypto</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="review-sec">
            <input type="hidden" name='date' value="<%= date %>">
            <input type="hidden" name='total' value="<%= total %>">
            <div class="basket-total">Your Total Order Price is <span>£<%= total %></span></div>
            <button type="submit" class="checkout-link">Complete Order</button>
        </div>
    </form>
</div>

<%- include('footer') -%>