<%- include('header') -%>

<div class="page-content">
    <div class="orders">
        <h4>Your Orders</h4>
        <table>
            <tr>
                <th>Order ID</th>
                <th>Order Price</th>
                <th>Order Date</th>
                <th>Order Status</th>
            </tr>
            <% for (let i = 0; i < data.length; i++) { %>
              <%  let sqlDate = new Date(data[i]['dateOfOrder']); %>
              <%  let newDate = sqlDate.getDate() + '/' + (sqlDate.getMonth() + 1) + '/' + sqlDate.getFullYear(); %>
            <tr class="order">
                <td class="order-id"><%= data[i]['id']  %></td>
                <td class="order-price">£<span><%= data[i]['orderTotal'] %></span></td>
                <td class="order-date"><%= newDate %></td>
                <td class="order-status"><%= data[i]['status'] %></td>
            </tr>
      <%  } %>
        </table>
    </div>

</div>

<%- include('footer') -%>