<%- include('header'); -%>
<script src="scripts/links.js"></script>
<div class="page-content">
    <div class="product-hero hero">
        <h4 class="product-header"><%= header %></h4>
    </div>
    <div class="filter">
        <button>Filters</button>
        <div class="filter-options">
            <button>Option 1</button>
            <button>Option 2</button>
            <button>Option 2</button>
            <button>Option 2</button>
            <button>Option 2</button>
        </div>
    </div>
    <div id="products" class="products">
        <% for(let i = 0; i < data.length; i++) { %>
        <div id="<%= data[i]['id'] %>" class="product">
            <img class="product-img" src="images/<%= data[i]['imageSrc'] %>" alt="">
            <a href='<%= data[i]["id"] %>'><%= data[i]['name'] %></a>
            <div class="product-info">
                <div class="price">
                    <span>£</span><%= (Math.round(data[i]['price'] * 0.9 * 100) / 100).toFixed(2) %>
                    <div class="old-price"><span>£</span><%= data[i]['price'] %></div>
                </div>
                <div class="actions">
                    <i class="far fa-heart"></i>
                    <button class="basket-add" type="submit" method= 'POST'><i class="fas fa-cart-plus"></i></button>
                </div>
            </div>
        </div>
        <% } %>
    </div>


</div>


<%- include('footer'); -%>