<%- include('header') -%>

<div class="page-content">
    <div class="product-page-product">
        <div class="product-page-img">
            <img src="images/<%= data[0]['imageSrc'] %>" alt="">
        </div>
        <div class="product-page-details">
            <div class="product-page-title"><%= data[0]['name'] %></div>
            <div class="product-page-price">£<%= data[0]['price'] %></div>
            <hr>
            <div class="product-page-actions">
                <i class="far fa-heart"></i>
                <button>Add to Basket</button>
            </div>
            <hr>
            <div class="product-description-title">PRODUCT DESCRIPTION</div>
            <div class="product-page-description"><%= data[0]['description'] %></div>
        </div>
    </div>
</div>
<script src="scripts/app.js"></script>

<%- include('footer') -%>