<%- include('header'); -%>
<div class="page-content">
    <div class="product-hero hero">
        <h4 class="product-header"><%= header %></h4>
    </div>
    <div id="products" class="products">
        <% for(let i = 0; i < data.length; i++) { %>
        <form class="product-form" action="/actions" method="post">
            <div id="<%= data[i]['id'] %>" class="product">
                <a class="img-btn" href='<%= data[i]["url"] %>'><img class="product-img"
                        src="images/<%= data[i]['imageSrc'] %>" alt=""></a>
                <input type="hidden" name='id' value='<%= data[i]["id"] %>'>
                <a class="name-btn" href='<%= data[i]["url"] %>'><%= data[i]['name'] %></a>
                <div class="product-info">
                    <div class="price">
                        <input type="hidden" name='price'
                            value="<%= (Math.round(data[i]['price'] * 0.9 * 100) / 100).toFixed(2) %>">
                        <span>£</span><%= (Math.round(data[i]['price'] * 0.9 * 100) / 100).toFixed(2) %>
                        <div class="old-price"><span>£</span><%= data[i]['price'] %></div>
                    </div>
                    <div class="actions">
                        <%  if(wishlistItems.includes(data[i]['id'])) { %>
                        <button class="wishlist-delete" type="submit" name="type" value="delete_from_wishlist">
                            <i class="fas fa-heart-broken"></i>
                        </button>
                        <%   } else {%>
                        <button class="wishlist-add" type="submit" name="type" value="add_to_wishlist">
                            <i class="far fa-heart"></i>
                        </button>
                        <%   }%>
                        <%   if(basketItems.includes(data[i]['id'])) { %>
                        <button type="submit" name="type" value="delete_all_from_basket">
                            <i class="fas fa-trash"></i>
                        </button>
                        <%   } else { %>
                        <button class="basket-add" type="submit" name="type" value="add_to_basket">
                            <i class="fas fa-cart-plus"></i>
                        </button>
                        <%    } %>
                    </div>
                </div>
            </div>
        </form>
        <% } %>
    </div>
</div>


<%- include('footer'); -%>