<%- include('header') -%>

<div class="page-content">
    <div class="account-hero hero">
        <h4 class="product-header"><%= header %></h4>
    </div>
    <div class="products">
        <% for(let i = 0; i < data.length; i++) { %> <div class="product">
            <img class="product-img" src="images/<%= data[i]['imageSrc'] %>" alt="">
            <a href="<%= data[i]['id'] %>"><%= data[i]['name'] %></a>
            <div class="product-info">
                <div class="price">
                    <span>£<%= data[i]['price'] %></span>
                </div>
                <div class="actions">
                    <i class="fas fa-trash-alt"></i>
                    <i class="fas fa-cart-plus"></i>
                </div>
            </div>
        </div>
        <%  } %>
    </div>
</div>



<%- include('footer') -%>